*{
  /* direction: rtl; */
  font-family: "vazir-light";
}

@font-face {
  font-family: "vazir-bold";
  src: url('./assets/fonts/Vazir-Bold-FD-WOL.woff2');
}

@font-face {
  font-family: "vazir-light";
  src: url('./assets/fonts/Vazir-Light-FD-WOL.woff2');
}

@font-face {
  font-family: "vazir-medium";
  src: url('./assets/fonts/Vazir-Medium-FD-WOL.woff2');
}

@font-face {
  font-family: "vazir-thin";
  src: url('./assets/fonts/Vazir-Thin-FD-WOL.woff2');
}

.vazir-bold {
  font-family: "vazir-bold" !important;
}

.vazir-light {
  font-family: "vazir-light" !important;
}

.vazir-thin {
  font-family: "vazir-thin" !important;
}

.vazir-medium {
  font-family: "vazir-medium" !important;
}

.cursur-pointer {
  cursor: pointer !important;
}

.cursur-defualt {
  cursor: default;
}

.no-style{
  text-decoration: none;
}

.font20{
  font-size: 20px;
}
.font16{
  font-size: 16px !important;
}
.font14{
  font-size: 14px !important;
}


.MuiFormControlLabel-label {
  font-family: "vazir-medium" !important;
  font-size: 14px !important;
}

.MuiFilledInput-input {
  text-align: right;
  font-family: "vazir-medium" !important;
}

.wrapperClassName {
  width: 100%;
}

.editorClassName,
.toolbarClassName {
  background: #f0f0f0 !important;
}

.editorClassName {
  padding: 10px !important;
  scroll-behavior: smooth;
  overflow: auto;
}

.toolbarClassName {
  margin-bottom: 3px !important;
  margin-top: 20px;
}

.MuiAutocomplete-listbox {
  font-family: vazir-medium !important ;
  text-align: right !important;
}

.MuiAutocomplete-listbox li {
  text-align: right !important;
  direction: rtl;
}


tr {
  vertical-align: middle;
}

.bg-color{
  background-color: #37003c;
}

.special-border{
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}

.header-nav{
  border-bottom-right-radius: 100px;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 1200px !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  font-family:  vazir-bold !important;
}

.pagination {
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.pagination button {
  margin-right: 0.5rem;
  cursor: pointer;
  padding: 7px 15px;
}

.pagination button:disabled {
  background-color: #333;
  color: #fff;
  cursor: not-allowed;
}

.card {
  width: 300px;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  padding: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.card__title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.card__author {
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.card__body {
  font-size: 0.9rem;
}